{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="banner">	
	<div class="index-nav">
		<div class="index-buttons">
			<div class="centrar">
				<div class="navbutton" onclick="window.location.href='/programa/';">
					<center><img src="/files/img/programa.ico"  style="height:40px; width:37px;" alt="Programa"></center>
					<div class="text">						
						<span>Filtros de actividades</span>
						<a href="#">Programa</a>
					</div>
				</div>									
				<div class="navbutton" onclick="window.location.href='/proyecto/';">
					<center><img src="/files/img/proyecto.ico" style="height:40px; width:37px;" alt="Proyectos"></center>
					<div class="text">
						<span>Filtros de actividades</span>
						<a href="{% url filtro_proyecto %}">Proyectos</a>
					</div>
				</div>				
				<div class="navbutton" onclick="window.location.href='#';">
					<center><img src="/files/img/manual1.png"   style="height:40px; width:37px;" alt="Manual"></center>
					<div class="text">
						<span>Manual de usuario</span>
						<a href="#">Manual</a>
					</div>
				</div>
			</div>
		</div>		
	</div>	
	<div class="clean"></div>
</div>
<div id="index-content">
	<div class="index-left">		
		<div class="index-descrip">
			<div class="caption">
				Sistema de monitoreo de actividades para contrapartes de Trocaire
			</div>
		</div>
		<div class="index-text">
			<p>Lundium turpis nisi, placerat? Porttitor magna? Dis et? Augue magna integer sagittis, augue dictumst phasellus, urna nunc odio et phasellus, penatibus rhoncus phasellus augue placerat placerat arcu enim. Arcu adipiscing! Ac a, quis, cum pulvinar nisi, eu eu in pulvinar ac vel in facilisis proin risus tempor, quis pulvinar scelerisque arcu amet est in pid, nascetur scelerisque sed scelerisque sit? Augue sed, velit nunc ac egestas in aliquet, egestas ridiculus magnis et. Enim ultricies in tincidunt. Rhoncus porttitor augue hac dictumst penatibus, a nec turpis? Auctor! Pulvinar elementum lacus nisi parturient a a ac tempor sed, elementum enim! Tristique ac, diam turpis in tincidunt, auctor phasellus nisi sed, odio tincidunt lorem ut sit ridiculus penatibus turpis urna sit elementum magna..</p>
			
			<p>Lundium turpis nisi, placerat? Porttitor magna? Dis et? Augue magna integer sagittis, augue dictumst phasellus, urna nunc odio et phasellus, penatibus rhoncus phasellus augue placerat placerat arcu enim. Arcu adipiscing! Ac a, quis, cum pulvinar nisi, eu eu in pulvinar ac vel in facilisis proin risus tempor, quis pulvinar scelerisque arcu amet est in pid, nascetur scelerisque sed scelerisque sit? Augue sed, velit nunc ac egestas in aliquet, egestas ridiculus magnis et. Enim ultricies in tincidunt. Rhoncus porttitor augue hac dictumst penatibus, a nec turpis? Auctor! Pulvinar elementum lacus nisi parturient a a ac tempor sed, elementum enim! Tristique ac, diam turpis in tincidunt, auctor phasellus nisi sed, odio tincidunt lorem ut sit ridiculus penatibus turpis urna sit elementum magna.</p> 
		</div>
	</div>	
	<div class="color-right">	
		<div class="index-right">	
			<div class="title">Organizaciones</div>	
			<div class="index-list">
			{% for org in organizaciones %}
				<div class="index-entry">
					<div class="orginfo">
						<div class="nombre-corto">{{org.nombre_corto|upper}}</div>
						<div class="nombre-largo">{{org.nombre}}</div>
						<div class="actcount">Última actividad registrada el: 
						<b style="color: red;">{{org.last_register|date:"d F Y"}}</b></div>
					</div>
					<div class="orglogo">
						{% if org.logo %}
						<img src="{{org.logo.url_50x50}}" alt="{{org.nombre_corto}}">
						{% endif %}
					</div>
					<div class="clean"></div>
				</div>
			{% endfor %}
			</div>			
		</div>
	</div>
	<div class="clean"></div>
</div>
{% endblock %}